.feature-component {

	.text-wrapper {
		height: 100%;
	    display: table;
	    padding-left: 140px;

	    &>div {
			vertical-align: middle;
		    display: table-cell;
		}
	}

	.feature-header {
		color: $color-dark;
        padding-bottom: 1.5em;
        animation-delay: .3s;

        h2 {
            font-size: 2.2em;
            font-weight: 700;
            margin-bottom: 0 !important;

            span {
                color: $color-primary;
            }
        }
	}

	.acercade-button {
        font-family: 'IBMPlexSans', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
        padding: 10px 30px;
        font-weight: 400;
        color: $color-light;
        background-color: $color-button-primary;
        border-radius: 30px;
        box-shadow: -4px 3px 18px 0px #0000007d;
        border-color: transparent !important;
        transition: 0.2s ease-out;
        text-transform: uppercase;
        margin: .6em 0;

        &:hover {
            background-color: $color-dark;
        }

        &:link,
        &:active {
            border: 2px solid $color-primary !important;
        }
    }

}