$color-none: #afafaf;
$color-active: #01a9ed;
$color-active-h: #0cb2f5;
$color-hover: #0173a1;
$color-available: #e1f2f9;
$color-available-h: #d3edf9;
$color-weekend: #f14e4e;

.react-calendar {
  max-width: 100%;
  background: white;
  border: 1px solid #ced4da;
  border-top: none;
  padding: 8px 16px 16px;
  line-height: 1.125em;
  border-radius: 0 0 4px 4px;

  &--doubleView {
    width: 700px;

    .react-calendar__viewContainer {
      display: flex;
      margin: -.5em;

      >* {
        width: 50%;
        margin: .5em;
      }
    }
  }

  &,
  & *,
  & *:before,
  & *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  button {
    margin: 0;
    border: 0;
    outline: none;

    &:enabled {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__navigation {
    height: 40px;
    // margin-bottom: 1em;

    button {
      min-width: 40px;
      background: none;

      svg {
        color: $color-active;
        font-size: 1.2em;
        transition: .2s ease-in-out;
      }

      &:enabled {

        &:hover {
          svg {
            color: $color-hover
          }
        }
      }

      &[disabled] {
        svg {
          color: $color-off
        }
      }
    }

    &__label {
      background-color: initial !important;
      order: -1;
      text-align: left;
      padding: .5em;

      span {
        font-weight: 600;
        color: black;
      }
    }
  }

  &__month-view {
    &__weekdays {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: .75em;

      display: grid !important;
      grid-template-columns: repeat(7, 1fr);
      grid-gap: 10px;

      &__weekday {
        max-width: none !important;
        margin: 10px auto;

        abbr {
          border: none;
          text-decoration: none;
          font-size: 16px;
          font-weight: 400;
          color: $color-off;
        }
      }
    }

    &__weekNumbers {
      font-weight: bold;

      .react-calendar__tile {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .75em;
        padding: calc(.75em / .75) calc(.5em / .75);
      }
    }

    &__days {

      display: grid !important;
      grid-template-columns: repeat(7, 1fr);
      grid-gap: 10px;
      justify-items: center;

      &__day {

        &--neighboringMonth {
          color: $color-off
        }

        &--weekend {
          color: $color-weekend !important;
        }
      }
    }
  }

  &__tile {
    text-align: center;
    transition: .2s ease-in-out;

    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    max-width: none !important;
    padding: 0;

    background: $color-available;
    color: $color-black;
    font-weight: 600;

    &:disabled {
      background: none;
      color: $color-off;
      font-weight: initial;
    }

    &:enabled {

      &:hover {
        background: $color-available-h;
      }

      &.react-calendar__month-view__days__day--neighboringMonth {
        background: none;
      }
    }

    &--now {
      border: 2px solid $color-primary !important;

      &:disabled {
        border-color: $color-off !important;
      }

      &.react-calendar__month-view__days__day--weekend {
        border-color: $color-weekend !important;
      }

    }

    &--active {
      background: $color-active;
      color: white !important;

      &:enabled {

        &:hover {
          background: $color-active-h;

          &.react-calendar__month-view__days__day--neighboringMonth {
            background: none;
          }
        }
      }

      &.react-calendar__month-view__days__day--neighboringMonth {
        color: $color-black !important;
      }
    }
  }
}