.review-card__container, .turno-card__container{
  padding: 25px;
  border: none;
  border-radius: 6px;
  box-shadow: 2px 6px 9px 0 #00000030;
  margin: 5px;
}

.turno-card__container{
  height: 570px;
  display: flex;
  .card-body{
    .turno-card__links-container{
      display: flex;
      justify-content: left;
      align-items: center;
      .turno-card__link{
        margin: 5px;
        cursor: pointer;
        color: #007bff;
      }
    }
  }
}