.register-page,
.login-page {

	.form-login,
	.form-register {
		background-color: #7b9c9d1a;
		box-shadow: #00000029 0px 4px 16px 0px;
		border-radius: 5px;
		color: #000000;

		.form-header {

			h2 {
				font-size: 2em;
				font-weight: 500;

				span {
					color: $color-primary
				}
			}

			&>span {
				color: $color-muted;
			}
		}
	}

	.login-separator,
	.register-separator {
		text-align: center;

		.hr {
			font-size: 13px;
			opacity: .4;
		}

		.hr::before,
		.hr::after {
			content: "";
			background-color: #8C969D;
			display: inline-block;
			height: 1px;
			position: relative;
			vertical-align: middle;
			width: 50%;
		}

		.hr::before {
			right: 0.5em;
			margin-left: -50%;
		}

		.hr::after {
			left: 0.5em;
			margin-right: -50%;
		}
	}
}