.landing-page {
    display: flex;
    width: 100%;
    height: auto;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    justify-content: center;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 57%;
    background-position-y: top;
    position: relative;

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: -1;
        background: $color-gray;
    }

    .landing-content {
        display: flex;
        flex-flow: column nowrap;
        padding: 0;
        margin: 40px auto 80px;
    }

    .landing-text {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        height: auto;
        font-family: 'IBMPlexSans', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: white;
        line-height: 1.8;
        background: #2b356066;
        border-radius: 4px;
        margin: 0 auto;
        text-align: center;
        padding: 2em;

        .slogan-text {
            font-size: 3.3em;
            font-weight: 400;
            font-family: 'Myriad Pro', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: $color-light;
            margin: 30px 0 40px;
            transition-delay: 0;
        }

        .landing-parrafo {
            color: white;
            margin: 0 1em;
            font-size: $size-big;
            font-weight: 300;
            transition-delay: 0.4s;
        }

        .landing-button {
            font-family: 'IBMPlexSans', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 1em;
            font-weight: 300;
            color: $color-light;
            width: 200px;
            height: 50px;
            background-color: $color-button-primary;
            border-radius: 25px;
            box-shadow: -4px 3px 18px 0px #0000007d;
            border-color: transparent !important;
            margin: 40px auto 30px;
            text-transform: uppercase;
            transition: 0.2s ease-out;

            &:hover {
                background-color: #222;
            }

            &:link,
            &:active {
                border: 2px solid $color-primary !important;
            }
        }
    }
}

@media all and (max-width: 600px) {

    .landing-text {
        padding-left: .5em !important;
        padding-right: .5em !important;
    }

    .landing-parrafo {
        margin: 0 !important;
    }
}

@media all and (max-width: 767px) {

    .landing-page {
        border-bottom-left-radius: 70px !important;
        border-bottom-right-radius: 70px !important;
    }

    .landing-text {
        padding: 1.5em !important;
    }

    .slogan-text {
        font-size: 2.5em !important;
        margin: 20px 0 25px !important;
    }

    .landing-parrafo {
        font-size: $size-normal !important;
    }

    .landing-button {
        font-size: $size-small !important;
        font-weight: 400 !important;
        width: 150px !important;
        height: 40px !important;
        margin: 25px 0 20px !important;
    }
}

@media all and (max-width: 991px) {
    .landing-content {
        margin-top: 10px !important;
        margin-bottom: 40px !important;
    }
}