.nav-user {
    display: flex;
    margin-left: auto;

    &__perfil {
        display: flex;
        height: 40px;
        margin: auto;
        border-radius: 20px;
        z-index: 1;
        background: #ffffff40;
        transition: .1s ease-in-out;
        cursor: pointer;

        &--nav-photo {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            margin: auto;
            display: flex;
            border: 2px solid #ffffffb0;
            position: relative;

            &.loading {
                border: 0;
            }

            &__loading {
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 2px solid transparent;
                border-top-color: #ffffff70;
                opacity: 0;

                &.loading {
                    opacity: 1;
                    animation: animation-rotate 1s infinite linear;
                }
            }

            &__overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 2px solid #ffffff85;
                opacity: 0;

                &.loading {
                    opacity: 1;
                }
            }

            @keyframes animation-rotate {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }

            img {
                width: 100%;
                height: 100%;
            }

            svg {
                font-size: 30px;
                margin: auto;
                color: #ffffff88;

                &:hover {
                    color: #ffffffaa;
                }
            }

            &.show {
                svg {
                    color: #ffffffcc;
                }
            }
        }

        &-header {
            margin: auto;
            margin-left: 10px;
            margin-right: 20px;

            span {
                font-size: 1em;
                font-weight: 500;
                color: white;
                white-space: nowrap;
            }
        }
    }

    &__menu-container {
        position: absolute;
        right: 4em;
        width: 320px;
        display: flex;
        flex-direction: column;
        // transition: .1s ease-in-out;
        border-radius: 21px 21px 16px 16px;
        overflow: hidden;
        background: #ffffff50;
        box-shadow: #00000029 0px 4px 16px 0px;
        top: 58px;
        max-height: 0;

        &.show {
            // top: 70px;
            max-height: 500px;
        }

        &--close {
            width: 40px;
            height: 40px;
            display: flex;
            border-radius: 50%;
            align-self: flex-end;
            padding: 13px;
            transition: .1s;
            cursor: pointer;

            svg {
                margin: auto;
            }
        }
    }

    @media (max-width: 768px) {
        .nav-user__menu-container {
            right: 1em;
        }
    }

    @media (max-width: 425px) {
        .nav-user__menu-container {
            right: .2em;
        }
    }

    &__menu {
        margin: 0 8px 8px;

        &-items {
            background: #ffffff;
            border-radius: 8px;
            margin: 0 auto;
            padding: 6px;
            border: 2px solid $color-muted;

            &__item {
                overflow: hidden;
                transition: .1s ease-in-out;
                display: flex;
                padding: 8px 5px;
                cursor: pointer;

                &.item-selectionable {

                    &:focus,
                    &:hover {
                        background: #00000020;
                        border-radius: 8px;
                    }
                }

                &--separator {
                    height: 1px;
                    background: #00000030;
                    margin: 5px;
                }

                .nav-user__item--icon {
                    margin: auto 12px auto 0;
                    height: 40px;
                    width: 40px;
                    background: #00000020;
                    border-radius: 20px;
                    display: flex;

                    svg {
                        margin: auto;
                        font-size: 20px;
                        color: #333;
                    }
                }

                .nav-user__item--right {
                    margin: auto 0;
                    display: flex;
                    flex-direction: column;

                    .title {
                        font-size: 1em;
                        font-weight: 400;
                        white-space: nowrap;
                    }

                    .subtitle {
                        font-size: .9em;
                        font-weight: 400;
                    }
                }

                &.nav-user__item-perfil,
                &.nav-user__item-no-perfil,
                &.nav-user__item-opinion {
                    // border-bottom: 1px solid #00000030;
                    padding: 10px 5px;
                }

                &.nav-user__item-perfil {
                    .nav-user__item--photo {
                        margin: auto 12px auto 0;
                        height: 70px;
                        width: 70px;
                        background: #ddd;
                        border-radius: 20px;
                        display: flex;
                        border-radius: 35px;
                        overflow: hidden;

                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }

                    .title {
                        font-size: 1.1em;
                        font-weight: 500;
                    }
                }

                &.nav-user__item-no-perfil {
                    cursor: initial;
                }
            }
        }
    }
}

.nav-notification {
    margin: auto 1em;

    .nav-notification__icon {
        font-size: 21px;
        color: white;
        position: relative;
        cursor: pointer;

        span {
            position: absolute;
            top: -5px;
            left: 10px;
            font-size: 12px;
            background: #f02849;
            border-radius: 100px;
            padding: 0px 4px 2px 4px;
            color: white;
            font-weight: 600;
        }
    }

    &__menu-container {
        position: absolute;
        right: 4em;
        width: 320px;
        display: flex;
        flex-direction: column;
        // transition: .1s ease-in-out;
        border-radius: 21px 21px 16px 16px;
        overflow: hidden;
        background: #ffffff50;
        box-shadow: #00000029 0px 4px 16px 0px;
        top: 58px;
        max-height: 0;

        &.show {
            // top: 70px;
            max-height: 2000px;
        }

        &--close {
            width: 40px;
            height: 40px;
            display: flex;
            border-radius: 50%;
            align-self: flex-end;
            padding: 13px;
            transition: .1s;
            cursor: pointer;

            svg {
                margin: auto;
            }
        }
    }

    @media (max-width: 768px) {
        .nav-user__menu-container {
            right: 1em;
        }
    }

    @media (max-width: 425px) {
        .nav-user__menu-container {
            right: .2em;
        }
    }

    &__menu {
        margin: 0 8px 8px;

        &--background {
            background: #ffffff;
            border-radius: 8px;
            margin: 0 auto;
            padding: 6px;
            border: 2px solid $color-muted;
        }

        &-items {
            margin: 0 auto;
            max-height: calc(100vh - 180px);
            overflow: auto;

            &__item {
                overflow: hidden;
                transition: .1s ease-in-out;
                padding: 8px 5px;
                cursor: pointer;
                // display: flex;

                &:focus,
                &:hover {
                    background: #00000020;
                    border-radius: 8px;
                }

                &--separator {
                    height: 1px;
                    background: #00000030;
                    margin: 5px;
                }

                &-container {
                    display: flex;
                    margin: auto 5px;

                    &-left {
                        display: flex;
                        flex-direction: column;
                        margin: auto;
                        margin-left: 0;
                        min-width: 215px;
                        max-width: 215px;
                        // padding: 0 5px;

                        &--text {
                            // min-height: 30px;

                            &.nonreaded {
                                font-weight: 600;
                            }
                        }

                        &--date {
                            color: $color-muted;
                            font-size: .8em;
                        }
                    }

                    &-right {
                        margin: auto 0;
                        font-size: .7em;
                        color: $color-muted;
                        margin-left: calc(10px + 11.19px);

                        &.nonreaded {
                            margin-left: 10px;
                            color: $color-primary;
                        }
                    }
                }
            }

            &__load-more {
                color: $color-muted;
                font-size: .7em;
                margin: 4px auto;
                display: flex;

                span {
                    margin: auto;
                    margin-right: .6em;
                    color: #007bff;
                    cursor: pointer;

                    &:focus,
                    &:hover {
                        text-decoration: underline;
                    }
                }

                svg {
                    margin: auto;
                    margin-left: .6em;

                    &.loading {
                        animation: animation-rotate 1s linear infinite;
                    }

                }
            }

            &__caption {
                font-weight: 500;
                margin: 0 auto 2em;
            }

            &--subtitulo {
                margin: 2px 5px;
                font-weight: 500;
                border-bottom: 2px solid #00000030;

                &.readed {
                    margin-top: 10px;
                }
            }
        }

        &-header {
            display: flex;
            margin: 4px 5px 10px 5px;
            cursor: pointer;

            .dropdown {
                margin: auto 0;
                width: 100%;
            }

            .dropdown-toggle {
                display: flex;

                &::after {
                    margin: auto;
                    margin-right: 0;
                }
            }

            // span {
            //     margin: auto;
            //     margin-left: 0;
            // }

            // div {
            //     border-radius: 30px;
            //     width: 30px;
            //     height: 30px;
            //     display: flex;
            //     cursor: pointer;

            //     &:focus,
            //     &:hover {
            //         background: #00000020;
            //     }

            //     svg {
            //         margin: auto;
            //     }
            // }
        }
    }
}

.modal-opinion {

    .modal-opinion__header {
        padding: .7em 1em;
        border: none;

        .modal-opinion__header-title {
            font-weight: 400;
            font-size: 1.3em;
        }
    }

    .modal-opinion__body {
        padding: 0 1em;

        &-review {

            textarea {
                outline: none;
                border: none;
                width: 100%;
                resize: none;
            }
        }
    }

    .modal-opinion__footer {
        padding: .75em 1em;
        padding-top: .7em;
        border: none;
        justify-content: initial;

        &-stars {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: .5em;
            margin: auto;
            margin-left: 0;

            span {
                margin: auto 1em auto 0;
            }

            &-list {
                margin: auto 1em auto 0;
                display: flex;
                background: rgba(goldenrod, .2);
                border-radius: 4px;
                padding: 3px 5px;

                svg {
                    margin: auto .2em auto 0;
                    color: goldenrod;
                    cursor: pointer;
                }
            }
        }

        &-review_length {
            margin: auto;
            margin-right: 1em;
        }

        &-button {
            margin: auto 0;
        }
    }
}