.page {
  justify-content: center;
  align-content: center;
  padding-top: 60px;
  flex: 1;
  .page-header{
    text-align: center;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
    h1{
      span{
        color: #3d60f4;
      }
    }
  }
}