.services-component {
    position: relative;
    background: $color-gray;

    .services-header {
        text-align: center;
        color: $color-dark;
        padding-bottom: 1.5em;

        h2 {
            font-size: 2.5em;
            font-weight: 700;
            margin-bottom: 0 !important;

            span {
                color: $color-primary;
            }
        }

        p {
            color: $color-muted;
        }
    }

    .cards-container {

        .card-tile {
            text-align-last: center;
        }

        .service-card {
            margin: 10px 0;
            border: none;
            border-radius: 6px;
            display: inline-block;
            text-align-last: initial;
            width: 100%;
            overflow: hidden;
            box-shadow: 2px 6px 9px 0px #00000030;
            max-width: 380px;
        }

        figure {
            margin: 0;
            position: relative;

            img {
                max-width: 100%;
                max-height: 100%;
                margin: auto;
            }
        }

        figcaption {
            position: absolute;
            top: 0;
            left: 0;
            padding: 20px;
            background: #2c3f52;

            h3 {
                margin: 0;
                padding: 0;
                color: #fff;
                font-size: 1.2em;
                margin-bottom: .5em;
            }

            p {
                font-size: .8em;
                color: #ffffffdd;
                margin-bottom: 0;
            }

            a {
                text-align: center;
                padding: 5px 10px;
                border-radius: 2px;
                display: inline-block;
                background: $color-primary;
                color: #fff;
                text-decoration: none;
            }
        }

        .cards-style {

            &.service-card {
                perspective: 1700px;
                perspective-origin: 0 50%;
                height: 300px;
            }

            figure {
                transform-style: preserve-3d;
            }

            figure>div {
                overflow: hidden;
                display: flex;
                height: 300px;
            }

            figure img {
                transition: transform 0.4s;
            }

            figure.cs-hover img {
                transform: translateX(25%);
            }

            figcaption {
                height: 100%;
                width: 50%;
                opacity: 0;
                backface-visibility: hidden;
                transform-origin: 0 0;
                transform: rotateY(-90deg);
                transition: transform 0.4s, opacity 0.1s 0.3s;
            }

            figure.cs-hover figcaption {
                opacity: 1;
                transform: rotateY(0deg);
                transition: transform 0.4s, opacity 0.1s;
            }

            figcaption a {
                position: absolute;
                bottom: 20px;
                right: 20px;
            }
        }
    }

    .services-spinner {

        .bg {
            background: rgba(#444, .8);
        }

        .fg {
            background: rgba($color-gray, .2);
        }

        .card-spinner {
            display: inline-block;
            margin: 10px 0;
            width: 100%;
            max-width: 380px;
            height: 300px;
            border-radius: 6px;

            .title-spinner {
                width: calc(50% - 2em);
                height: 2em;
                border-radius: 4px;
                margin: 1em;
                margin-bottom: 1.5em;
            }

            .description-spinner {
                width: calc(50% - 2em);
                margin: 1em;

                div {
                    width: 100%;
                    height: 1em;
                    margin: .7em 0;
                    border-radius: 4px;

                    &:last-child {
                        width: 40%;
                    }
                }
            }

            .button-spinner {
                width: 100px;
                height: 40px;
                border-radius: 4px;
                position: absolute;
                right: 1em;
                bottom: 1em;
            }

            @keyframes opacityFrames {
                0% {
                    opacity: .4;
                }

                40% {
                    opacity: .7;
                }

                100% {
                    opacity: .4;
                }
            }

            &.animated-background {
                opacity: .4;
                animation-duration: 2s;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
                animation-name: opacityFrames;
                animation-timing-function: linear;
            }
        }
    }

    .shape-background-1 {
        position: fixed;
        left: -25%;
        top: 25%;
        // z-index: -1;
        background-color: $color-primary;
        opacity: 0.05;
        height: 600px;
        width: 70%;
        border-radius: 100px;
        transform: rotate(35deg);
    }

    .shape-background-2 {
        position: fixed;
        left: 75%;
        top: 50%;
        // z-index: -1;
        background-color: $color2;
        opacity: 0.06;
        width: 530px;
        height: 530px;
        border-radius: 100px;
        transform: rotate(20deg);
    }
}

/* Caption Style */
.no-touch .cards-style {
    figure:hover figcaption {
        opacity: 1;
        transform: rotateY(0deg);
        transition: transform 0.4s, opacity 0.1s;
    }

    figure:hover img {
        transform: translateX(25%);
    }
}