.services-home {
    position: relative;
    background: $color-gray;

    .services-header {
        text-align: center;
        color: $color-dark;
        padding-bottom: 1.5em;

        h2 {
            font-size: 2.5em;
            font-weight: 700;
            margin-bottom: 0 !important;

            span {
                color: $color-primary;
            }
        }
    }

    .cards-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        // margin: 3em auto 2em;
        padding-left: 0;
        padding-right: 0;
        text-align: left;

        .service-card {
            width: 330px;
            margin: 1em;
            border: none;
            display: inline-block;
        }

        figure {
            margin: 0;
            position: relative;

            img {
                max-width: 100%;
                display: block;
                position: relative;
            }
        }

        figcaption {
            position: absolute;
            top: 0;
            left: 0;
            padding: 20px;
            background: #2c3f52;

            h3 {
                margin: 0;
                padding: 0;
                color: #fff;
                font-size: 1.2em;
                margin-bottom: 5px;
            }

            p {
                font-size: .8em;
                color: #ffffffdd;
            }

            a {
                text-align: center;
                padding: 5px 10px;
                border-radius: 2px;
                display: inline-block;
                background: $color-primary;
                color: #fff;
                text-decoration: none;
            }
        }

        &.cards-style {

            .service-card {
                perspective: 1700px;
                perspective-origin: 0 50%;
            }

            figure {
                transform-style: preserve-3d;
            }

            figure>div {
                overflow: hidden;
            }

            figure img {
                transition: transform 0.4s;
            }

            figure.cs-hover img {
                transform: translateX(25%);
            }

            figcaption {
                height: 100%;
                width: 50%;
                opacity: 0;
                backface-visibility: hidden;
                transform-origin: 0 0;
                transform: rotateY(-90deg);
                transition: transform 0.4s, opacity 0.1s 0.3s;
            }

            figure.cs-hover figcaption {
                opacity: 1;
                transform: rotateY(0deg);
                transition: transform 0.4s, opacity 0.1s;
            }

            figcaption a {
                position: absolute;
                bottom: 20px;
                right: 20px;
            }
        }
    }

    .shape-background-1 {
        position: fixed;
        left: -25%;
        top: 25%;
        // z-index: -1;
        background-color: $color-primary;
        opacity: 0.05;
        height: 600px;
        width: 70%;
        border-radius: 100px;
        transform: rotate(35deg);
    }

    .shape-background-2 {
        position: fixed;
        left: 75%;
        top: 50%;
        // z-index: -1;
        background-color: $color2;
        opacity: 0.06;
        width: 530px;
        height: 530px;
        border-radius: 100px;
        transform: rotate(20deg);
    }
}

/* Caption Style */
.no-touch .cards-style {
    figure:hover figcaption {
        opacity: 1;
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        transform: rotateY(0deg);
        -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
        -moz-transition: -moz-transform 0.4s, opacity 0.1s;
        transition: transform 0.4s, opacity 0.1s;
    }

    figure:hover img {
        -webkit-transform: translateX(25%);
        -moz-transform: translateX(25%);
        -ms-transform: translateX(25%);
        transform: translateX(25%);
    }
}