.service-item-page {
    .service-item-header {
        margin-top: 20px;
        text-align: center;

        h1 {
            font-size: 2.5em;
            font-weight: 700;

            span {
                color: $color-primary;
            }
        }
    }

    .service-item-name {
        margin-bottom: 1.5em;

        span {
            font-size: .95em;
        }
    }

    .service-item-image {
        text-align: center;

        .image {
            height: 200px;
            border-radius: 6px;
            margin: 10px auto;
            max-width: 250px;
            box-shadow: 2px 6px 9px 0px #00000030;
            overflow: hidden;
            position: relative;
            cursor: pointer;

            img {
                max-width: 100%;
                max-height: 100%;
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin: 10px 15px;
                border: solid rgba($color-black, .3);
                border-width: 0;
                display: flex;
                margin: auto;
                transition: .3s ease-in-out;

                div {
                    width: 100%;
                    height: 100%;
                    border: 2px solid $color-black;
                    display: flex;
                    background: #ffffff88;
                    opacity: 0;
                    transition: .3s ease-in-out;

                    span {
                        margin: auto;
                        font-weight: 500;
                        user-select: none;
                    }
                }
            }

            &:hover {
                .overlay {
                    border-width: 80px 60px;

                    div {
                        opacity: 1;
                    }
                }
            }
        }
    }
}