.service-item-page {
    .service-item-page__imagen-container{
        max-height: 300px;
        display: flex;
        position: relative;
        background: no-repeat;
        height: 250px;
        .image-header{
            position: absolute;
            object-fit: contain;
            margin-top: 10px;
            margin-left: 20px;
            height: 200px;
        }
    }
    .service-item-page__header-container{
        display: flex;
        align-items: center;
    }
}