.opinions-container{
  display: flex !important;
  flex-flow: column nowrap;
  min-height: 500px;
  max-height: 500px;
  overflow-x: auto;
  overflow-y: unset;
  display: -webkit-box;
  display: -moz-box;
}