.user-profile-page{
  .user-profile-header{
    margin-top: 20px;
    text-align: center;

    h1 {
      font-size: 2.5em;
      font-weight: 700;

      span {
        color: $color-primary;
      }
    }
  }
  .user-profile-picture{
    display: flex;
    margin: 0 auto;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    position: relative;
    height: 300px;
    width: 300px;
    .user-profile-picture__image-container{
      position: relative;
      width: 300px;
      height: 300px;
      max-width: 300px !important;
      max-height: 300px !important;
      border-radius: 100%;
      margin: auto;
      .user-profile-picture__image{
        width: 100% !important;
        height: 100% !important;
      }
    }
    .user-profile-picture__button{
      position: absolute;
      border-radius: 100%;
      width: 50px;
      height: 50px;
      bottom: 0;
      right: 50px;
    }
  }
  .user-profile-tab{
      min-height: 500px;
      .user-profile-tab__container{
          padding: 25px;
          border: none;
          border-radius: 6px;
          box-shadow: 2px 6px 9px 0px #00000030;
          .user-profile-tab__info-field{
              padding: 5px;
              color: black;
          }
          .user-profile-tab__info-icon{

          }
          .user-profile-tab__info-data{
            margin-left: 10px;
            margin-bottom: 15px;
          }
          .user-profile-buttons{
            margin: 10px;
          }
          .form-update{
            display: flex;
            justify-content: center;
            align-content: center;
            .form-header {

              h2 {
                font-size: 2em;
                font-weight: 500;
                text-transform: uppercase;

                span {
                  color: $color-primary
                }
              }

              &>span {
                color: $color-muted;
              }
            }
            .form-update-main-row{
              justify-content: center;
              align-content: center;
              .form-update-main-col{
                display: flex;
                justify-content: center;
                align-content: center;
                flex-flow: column wrap;
              }
            }
          }
      }
  }
  @media screen
    and (min-device-width: 1200px)
    and (max-device-width: 1600px)
    and (-webkit-min-device-pixel-ratio: 1) {

  }
}