// $sizeH1: calc(40px + 15*(100vw - 480px)/760);
// $sizeH2: calc(35px + 10*(100vw - 480px)/760);
// $sizeH3-small-screen: calc(17px + 5*(100vw - 480px)/760);
// $sizeH3-big-screen: calc(10px + 5*(100vw - 480px)/760);
// $sizeNormalText: calc(14.875px + 3.125*(100vw - 480px)/760);

/* Font sizes */
$size-small: .75em;
$size-normal: 1em;
$size-big: 1.25em;

/* Paleta de Color */
$color-black: #343a40;
$color-dark: #222222;
$color-gray: #f9f9f9;
$color-white: #eeeeee;
// $color-primary: #416bd1;
$color-muted: #6c757d;
$color-off: #00000050;
$color-primary: #3d60f4;
$color1-degradado: rgba(18, 40, 93, 0.3);
$color2: #1E56A0;
$color3: linear-gradient(20deg, rgb(246, 248, 250) 0%, rgb(246, 248, 250) 33%, rgb(246, 248, 250) 100%);
$color4: #F6F6F6;
$color-light: #FFFFFF;
$color6: #13111B;
$color-button-primary: #3d60f4;