.about-page {
	
	.about-header {
        margin-top: 20px;
        text-align: center;

        h1 {
            font-size: 2.5em;
            font-weight: 700;

            span {
                color: $color1;
            }
        }
    }

	.section-container{
	    display: flex;
	    flex-flow: row wrap;
	    justify-content: space-around;
	}
}

/* LocalizacionSection */
.localization-section{
    padding: 15px;
    order: 3;

    .localization-header {
        margin-top: 20px;
        text-align: center;

        h2 {
            font-size: 2.2em;
            font-weight: 600;
        }
    }
}

/* HistorySection */
.history-section{
    padding: 15px;
    order: 2;

    .history-header {
        margin-top: 20px;
        text-align: center;
        
        h2 {
            font-size: 2.2em;
            font-weight: 600;
        }
    }

    .history-fact-container{
	    display: flex;
	    flex-flow: row ;
	    padding: 15px;
	    border-left: 5px solid blue;
	    align-items: stretch;

		.history-date{
		    border-bottom-left-radius: 10px;
		    border-bottom-right-radius: 10px;
		    background-color: $color1;
		    width: 50px;
		    height: 50px;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    padding: 15px;
		    margin-right: 15px;
		    color: $color5;
		    align-self: center;
		}

		.history-fact{
		    padding: 5px;
		    width: 100%;
		}
	}
}


/* Mision */
.mision-section{
    padding: 15px;
    order: 1;

    .mision-header {
        margin-top: 20px;
        text-align: center;
        
        h2 {
            font-size: 2.2em;
            font-weight: 600;
        }
    }
}

/* Medium screens */
@media all and (min-width: 768px) {
    .history-section,
    .localization-section {
        width: 50%;
    }
}

/* Large screens */
@media all and (min-width: 1200px) {
    .localization-section, 
    .history-section, 
    .mision-section {
        width: 33.3%;
    }
}