.shape-background {
    background-color: $color2;
    opacity: 0.06;
    position: absolute;
    left: 75%;
    width: 530px;
    height: 530px;
    z-index: -1;
    border-radius: 100px;
    overflow: hidden;
    transform: rotate(20deg);
}

.shape-background-2 {
    background-color: $color1;
    opacity: 0.05;
    position: absolute;
    left: -25%;
    width: 70%;
    height: 600px;
    z-index: -1;
    transform: rotate(35deg);
    border-radius: 100px;
    overflow: hidden;
}

.services-home {
    padding: 0;
    margin: 2em 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

    .cards-container {
        margin: 3em auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        text-align: left;

        .service-card {
            width: 350px;
            margin: 10px;
            border: none;
            display: inline-block;
        }

        figure {
            margin: 0;
            position: relative;

            img {
                max-width: 100%;
                display: block;
                position: relative;
            }
        }

        figcaption {
            position: absolute;
            top: 0;
            left: 0;
            padding: 20px;
            background: #2c3f52;

            h3 {
                margin: 0;
                padding: 0;
                color: #fff;
                font-size: 1.2em;
                margin-bottom: 5px;
            }

            p {
                font-size: .8em;
                color: #ffffffdd;
            }

            a {
                text-align: center;
                padding: 5px 10px;
                border-radius: 2px;
                display: inline-block;
                background: $color1;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

/* Caption Style */
.no-touch .cards-style {
    figure:hover figcaption {
        opacity: 1;
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        transform: rotateY(0deg);
        -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
        -moz-transition: -moz-transform 0.4s, opacity 0.1s;
        transition: transform 0.4s, opacity 0.1s;
    }

    figure:hover img {
        -webkit-transform: translateX(25%);
        -moz-transform: translateX(25%);
        -ms-transform: translateX(25%);
        transform: translateX(25%);
    }
}

.cards-style {

    .service-card {
        -webkit-perspective: 1700px;
        -moz-perspective: 1700px;
        perspective: 1700px;
        -webkit-perspective-origin: 0 50%;
        -moz-perspective-origin: 0 50%;
        perspective-origin: 0 50%;
    }

    figure {
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    figure>div {
        overflow: hidden;
    }

    figure img {
        -webkit-transition: -webkit-transform 0.4s;
        -moz-transition: -moz-transform 0.4s;
        transition: transform 0.4s;
    }

    figure.cs-hover img {
        -webkit-transform: translateX(25%);
        -moz-transform: translateX(25%);
        -ms-transform: translateX(25%);
        transform: translateX(25%);
    }

    figcaption {
        height: 100%;
        width: 50%;
        opacity: 0;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: rotateY(-90deg);
        -moz-transform: rotateY(-90deg);
        transform: rotateY(-90deg);
        -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
        -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
        transition: transform 0.4s, opacity 0.1s 0.3s;
    }

    figure.cs-hover figcaption {
        opacity: 1;
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        transform: rotateY(0deg);
        -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
        -moz-transition: -moz-transform 0.4s, opacity 0.1s;
        transition: transform 0.4s, opacity 0.1s;
    }

    figcaption a {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}

// /* Medium screens */
// @media all and (min-width: 600px) {
//     .shape-background {
//         left: 25%;
//         top: -50%;
//     }
// }

// /* Large screens */
// @media all and (min-width: 800px) {}