$color-facebook: #3B579C;
$color-linkedin: #05649A;
$color-whatsapp: #22D16A;
$color-instagram: #ca2edf;

.footer-component {
    // display: flex;
    // flex-direction: column;
    background-color: $color6;
    border-top-left-radius: 120px;
    // justify-content: flex-start;
    // align-items: flex-start;

    .footer-container {
        display: grid;
        grid-column-gap: 15px;
        grid-row-gap: 30px;
        padding: 50px 10px;

        .menu-footer {
            // padding: 15px !important;
            width: 220px;
            margin: 0 auto;
            // display: flex;
            // flex-flow: column wrap;
            // justify-content: flex-start;
            // align-items: stretch;

            &.logo-menu {
                width: initial;
            }

            .logo-footer {
                order: 1;
                width: 200px;
                // height: 220px;
            }

            .menu-title {
                font-size: 1.2em;
                font-family: "Myriad Pro", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                color: rgb(255, 255, 255);
                text-align: left;
                margin-left: 2rem;
                font-weight: 400;
            }

            .menu-item {
                // font-size: 1em;
                font-family: "Myriad Pro", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                color: rgba(255, 255, 255, 0.6);
                line-height: 2;
                text-align: left;
                text-decoration: none;

                &:link,
                &:visited {
                    transition: all 0.1s ease-in 0s;
                }

                &:hover {
                    color: $color5;
                    cursor: pointer;
                    transition: all 0.1s ease-in 0s;

                    div {
                        opacity: 1;
                        transition: opacity 0.1s ease-in 0s;
                    }
                }

                div {
                    opacity: 0;
                    transition: opacity 0.1s ease-in 0s;

                    svg {
                        width: 1.5em;
                    }
                }
            }

            &.learn-more-menu div {
                color: rgb(204, 80, 80);
            }

            &.our-company-menu div {
                color: rgb(42, 189, 28);
            }

            &.contact-menu div {
                color: rgb(80, 109, 204);

                &.li {
                    color: $color-linkedin;
                }

                &.fb {
                    color: $color-facebook;
                }

                &.ig {
                    color: $color-instagram;
                }

                &.wa {
                    color: $color-whatsapp;
                }
            }

            &.website-menu div {
                color: rgb(218, 221, 65);
            }
        }
    }

    .copyright-container {
        text-align: center;
        background: #0d0c13;
        max-width: none;
        // display: flex;
        // flex-flow: column wrap;
        // justify-content: center;
        // width: 100%;

        .copyright {
            color: #ffffff33;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            // order: 1;
            // padding-bottom: 0 !important;
            // width: 100%;
        }

        .developed-container {
            // order: 2;
            // width: 100%;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            // padding-bottom: 20px;

            spam {
                color: #ffffff20;
            }

            a {
                text-decoration: none;
            }
        }
    }
}

/* Medium screens*/
@media all and (min-width: 600px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);

        .logo-menu {
            grid-column: 1/3;
        }
    }
}

@media all and (min-width: 860px) {
    .footer-container {
        grid-template-columns: repeat(3, 1fr);
        max-width: 780px;

        .logo-menu {
            grid-column: 2;
            grid-row: 1/3;
        }


    }
}

@media all and (min-width: 1200px) {
    .footer-container {
        grid-template-columns: repeat(5, 1fr);
        max-width: 1150px;

        .logo-menu {
            grid-column: 3;
        }


    }
}