/* Header */
.header {
  margin: 0 auto;
  padding: 2em 1em;
  text-align: center;
}

.header h1 {
  margin: 0 auto;
  font-weight: 800;
  font-size: 3.75em;
  line-height: 1;
}

.header h1 span {
  display: block;
  font-size: 50%;
  font-weight: 400;
  padding-top: 0.325em;
}

/*
.links {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.69em;
  line-height: 2.2;
  padding: 1.61em 5em;
}

.links a {
  display: inline-block;
  padding: 0 1em;
  text-decoration: none;
  letter-spacing: 1px;
}*/
