.localization-section{
    padding: 15px;
    order: 3;
}

/* Medium screens */
@media all and (min-width: 600px) {
    .localization-section{
        width: 50%;
    }
}

/* Large screens */
@media all and (min-width: 800px) {
    .localization-section{
        width: 33.3%;
    }
}