@font-face {
	font-family: 'codropsicons';
	src: url('../fonts/codropsicons/codropsicons.woff') format('woff');
}

body {
	margin: 0;
	font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
	font-size: $sizeH1;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

a {
	text-decoration: none;
	outline: none;
}

a:hover,
a:focus {
	//color: #c94e50;
	outline: none;
}

button:focus {
	outline: none;
}

body {
	font-weight: 400;
	font-size: 1em;
	// font-family: codropsicons;
	background-image: $color3;
	background-repeat: repeat;
	background-size: cover;
}

section {
	padding: 1em;
	text-align: center;
}

p {
	font-size: $sizeNormalText;
}

.row {
	margin: 0;
}

.home-page {
	width: 100%;
}

.page {
	width: 100%;
	//padding-top: 135px;
}

.container-fluid {
	padding-right: 0;
	padding-left: 0;
	margin-right: 0;
	margin-left: 0;
}

.flexbox-centered {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-flow: row nowrap;
}

.alert {
	margin: 20px;
}