.wrapper {
	background-color: $color1;
	> * {
		flex: 1 100%;
	}
}

.header-container {
	position: fixed;
	z-index: 2000;
	width: 100%;
	height: 90px;
	top: 0;
	transition: 0.2s;

	&.fixed-top {
		background-color: #3e61b5ee;
		box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
	}

	.logo-letras {
		height: 100%;
		z-index: 1000;
		padding: 1em 3em;
	}

	.menu-btn {
		position: absolute;
		z-index: 3;
	    cursor: pointer;
		top: calc(50% - 40px / 2);
		right: 25.5px;
	    height: 40px;
	    width: 40px;
	    transition: 0.5s ease-out;

		.btn-line {
			width: 100%;
		    height: 2px;
		    top: 50%;
		    left: 0;
		    position: absolute;
		    margin-top: -1px;
		    background: #fff;
		    transition: 0.5s ease-out;

		    &:nth-child(1) {
				transform: translateY(450%);
			}
			&:nth-child(3) {
				transform: translateY(-450%);
			}
		}

		&.menu-close {
			transform: rotate(180deg);

			.btn-line {
				&:nth-child(1) {
					transform: translateY(0) rotate(45deg);
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:nth-child(3) {
					transform: translateY(0) rotate(-45deg);
				}
			}
		}
	}

	&.header-minimized {
		height: 60px;
		box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 6px 0px;

		.menu-btn {
			top: calc(50% - 30px / 2);
			right: 17.4px;
	    	height: 30px;
	    	width: 30px;
		}
	}

	.menu {
		position: fixed;
		top: 0;
		width: 100%;
		opacity: 0.9;
		visibility: hidden;

		&.menu-show {
			visibility: visible;
		}

		&-branding, 
		&-nav {
			display: flex;
			flex-flow: column wrap;
			align-items: center;
			justify-content: center;
			float: left;
			width: 50%;
			height: 100vh;
			overflow: hidden;
		}

		&-nav {
			margin: 0;
			padding: 0;
			background: darken($color-black, 5);
			transform: translate3d(0, -100%, 0);
			transition: 0.5s ease-out;

			&.menu-show {
				transform: translate3d(0, 0, 0);
			}
		}

		&-branding {
			background: $color-black;
			transform: translate3d(0, 100%, 0);
			transition: 0.5s ease-out;

			&.menu-show {
				transform: translate3d(0, 0, 0);
			}

			.portrait {
				width: 250px;
				height: 250px;
			    background-repeat: no-repeat;
			    background-size: contain;
			    background-position: center;
			}
		}

		.nav-item {
			transform: translate3d(600px, 0, 0);
			transition: 0.5s ease-out;

			&.menu-show {
				transform: translate3d(0, 0, 0);
			}

			&.current > a {
				color: $color1;
				// font-weight: 500;
			}

			@for $navItem from 1 through 8 {
				&:nth-child(#{$navItem}) {
					transition-delay: $navItem * 0.1s; 
				}
			}
		}

		.nav-link {
			display: inline-block;
			position: relative;
			font-size: 1.4em;
			padding: 0;
			margin: 0.3em 0;
			text-transform: uppercase;
			font-weight: 400;
			color: $color-white;
			transition: 0.25s ease-out;

			&:hover {
				color: $color1;
				// font-weight: 500;
			}
		}
	}

	@media screen and (max-width: 500px) {

		

	}

	@media screen and (max-width: 768px) {
		ul.menu-nav,
		div.menu-branding {
			float: none;
			width: 100%;
			min-height: 0;

			&.menu-show {
				transform: translate3d(0, 0, 0);
			}
		}

		.menu-nav {
			height: 65vh;
			transform: translate3d(-100%, 0, 0);
			// font-size: 80%;
		}

		.menu-branding {
			height: 35vh;
			transform: translate3d(100%, 0, 0);

			.portrait {
				width: 150px;
				height: 150px;
			}
		}
	}

	@media screen and (max-width: 768px) and (max-width: 1170px) {
		 		
	}

	@media screen and (min-width: 1171px) {
		
	}
}