.wrapper{/*
  @include flexbox();
  flex-flow: row wrap;
  align-content: center;
  //justify-content: center;
  //align-items: center;
  width: 100%;
  height: auto;*/
  background-color: $color1;
}

.wrapper > * {
  flex: 1 100%;
}

.header-container{
  width: 100%;
  background-color: $color1;
  position: fixed;
  z-index: 2000;
}

.brand-container{
  order: 1;
  position: relative;
}

.menu-wrap{
  order: 2;
  position: relative;
  right: 0;
}

.authentication-links{
  display: block;
}

.authentication-container{
  order: 3;
  position: relative;
}

.logo-letras{
  width: 150px;
  height: 40px;
  top: 0.2em;
  z-index: 1000;
  margin: 1em;
  padding: 0;
}

.fixed-top{
  background-color: $color1;
  width: 100%;
  height: auto;
}

.authentication-links-group{
  @include flexbox();
  flex-flow: row wrap;
  display: block;
}

.nav-item-link{
  top: 10px;
  right: 0.5em;
  bottom: 0.5em;
  left: 0.5em;
  color: $color5;
  font-weight: bold;
  padding: 10px;
  display: none;
}

.nav-item-link:hover{
  color: $color3;
  text-decoration: none;
}

.nav-header{
  height: 80px;
  background-color: $color1;
}
