.opinions-component {
    padding: 0;
    margin: 2em auto;

    .opinions-header {
        margin-top: 20px;
        text-align: center;

        h2 {
            font-size: 2.5em;
            font-weight: 700;
            margin-bottom: 0 !important;

            span {
                color: $color1;
            }
        }
    }

    .opinions-container {
        margin: 3em auto 2em;
        padding-right: 0; 
        padding-left: 0;

        &.carousel {
            width: 100%;
            $color-grad-1: rgba($color1, 0.06);
            $color-grad-2: rgba($color1, 0.10);
            $color-grad-3: rgba($color1, 0.08);

            // background: $color-grad-1;
            background-image: linear-gradient(65deg, 
                                      $color-grad-1 20%, 
                $color-grad-2 20.01%, $color-grad-2 24%, 
                $color-grad-1 24.01%, $color-grad-1 26%, 
                $color-grad-3 26.01%, $color-grad-3 27%, 
                $color-grad-1 27.01%, $color-grad-1 29%, 
                $color-grad-3 29.01%, $color-grad-3 31%, 
                $color-grad-1 31.01%, $color-grad-1 65%, 
                $color-grad-3 65.01%, $color-grad-3 66%, 
                $color-grad-1 66.01%, $color-grad-1 69%, 
                $color-grad-2 69.01%, $color-grad-2 75%, 
                $color-grad-1 75.01%
            );

            border-radius: 4px;
            box-shadow: #00000011 1px 3px 5px 1px;

            .carousel-inner {
                min-height: 300px;
                padding-top: 2em;
                padding-bottom: 3em;
            }

            .carousel-caption {
                position: initial;
                margin: auto 3em;
                padding-top: 0;
                padding-bottom: 1em;
            }

            .carousel-indicators {
                margin-bottom: 2em;
                margin-right: 10%;
                margin-left: 10%;

                li {
                    width: 15px !important;
                    height: 15px !important;
                    border: 2px solid $color1 !important;
                    border-radius: 50%;
                }
            }

            .carousel-caption p {
                color: #212529;
            }

            .carousel-item.active {
                // height: 200px;
            }

            .carousel-caption img {
                height: 100px;
                clip-path: circle(50% at 50% 50%);
            }

            .carousel-control-prev, .carousel-control-next {
                width: 10%;
            }
        }
    }
}
