.form-register{
  width: 80%;
  background-color: $color3;
  margin: 50px;
  padding: 20px;
  @include flexbox;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-content: flex-end;
  align-self: center;
}

/* Large screens */
@media all and (min-width: 1000px) {
  .form-register{
    width: 60%;
  }
  .user-group{
    width: 30%;
    order: 1;
  }
  .email-group{
    width: 60%;
    order: 2
  }
  .password-group-1{
    order: 3
  }
  .password-group-2{
    order: 4;
  }
  .tipo-usuario-group{
    order: 5;
  }
  .telephone-group{
    order: 6;
  }
  .address-group{
    order: 7;
  }
  .button-group{
    order: 8;
  }
}
