.statistic-component,
.statistic-container,
.single-statistic {
    display: flex;
}

.statistic-component {
    flex-direction: column;
    background-color: $color1;
    width: 100%;
    padding: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

    .stat-bg {
        position: absolute;
        z-index: -1;
        background-position: center;
        background-repeat: repeat;
        opacity: 20%;
    }

    .statistic-container {
        flex-flow: row wrap;
        justify-content: center;
        align-items: stretch;
        align-content: space-between;
        margin: 2em auto 1.5em;
    }

    .whu-us {
        color: $color5;
        margin: auto;

        .why-us-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 0 1.5em;
            margin: 1.3em 0 2em;

            .item-why-us {
                margin: 0 10px;

                .icon-why-us {
                    color: $color1;
                    background: #fff;
                    padding: 4px;
                    border-radius: 5px;
                    font-size: 1.5em;
                }
            }

            .reason-why-us {
                text-align: left;
            }
        }

        @media screen and (max-width: 600px) {
            .why-us-container {
                grid-template-columns: 1fr;
            }
        }
    }
}

.single-statistic {
    flex-direction: column;
    flex-grow: 12;
    color: $color5;
    margin: .75em 1.5em;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

.single-statistic-value {
    font-size: $size-big;
    font-family: "Raleway", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $color5;
    font-weight: 700;
    width: 86px;
    flex-grow: 12;
    margin-bottom: 0;
}