<h3>Hemos recivido su mensaje!</h3>

Estimad@ {{ name }}! estamos analizando sus inquietudes y le responderemos lo mas rápido posible!

Muchas gracias por ponerse en contacto con nosotros!!, atentamente equipo de  <a href="{{ url('login') }}">reysis.com</a>.

Thanks!